*.mk
.cproject
.project
*.lst
*.hex
*.eep
*.cof
*.elf
*.map
*.sym
*.lss
*.o
.dep
*~
.thumbsdb
.directory
/.kdev4
*.swp
protocols/generate_classes.py.old
/.kdev_include_paths
/Almond-Embedded.kdev4
/Almond-Embedded.anjuta
/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/Almond-Embedded.anjuta
/documentation/Lastenheft.toc
/documentation/Lastenheft.pdf
/documentation/Lastenheft.mtc0
/documentation/Lastenheft.mtc
/documentation/Lastenheft.maf
/documentation/Lastenheft.log
/documentation/Lastenheft.aux
